click==8.0.3
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
oauthlib==3.1.1
psycopg2==2.9.3
SQLAlchemy==1.4.29
Werkzeug==2.0.2
Turbo-Flask==0.8.0
flask-sock==0.4.0
h11==0.12.0
simple-websocket==0.5.0
wsproto==1.0.0
pytz==2019.3
matplotlib==3.5.1
jsonschema==3.2.0
